body {
    background-color: #161616;
    font-family: "Trebuchet MS", Trebuchet, serif;
    font-size: 14px;
}


a {
    color: #3b87ca;
    text-decoration: none;
}

a:hover {
    color: #ae81ff;
    text-decoration: bold;
}


#wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

#sampleImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

footer {
    background: #232323;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: .5em 1em .5em 1em;
    z-index: 9;
    box-shadow: 0px 0px 10px black;
    white-space: nowrap;
    text-align: center;
    font-size: 18px;
    max-height: 25%;
}

footer p {
    display: inline;
    font-size: 20px;
    color: #777;
}

.cell-grid, .grid-wrap img {
    position: absolute;
    font-size: 0px;
    line-height: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.cell {
    display: inline-block;
    transition-property: opacity;
    transition-duration: 0.5s, 0.8s;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.5s, 0.8s;
    -o-transition-property: opacity;
    -o-transition-duration: 0.5s, 0.8s;
    -moz-transition-property: opacity;
    -moz-transition-duration: 0.5s, 0.8s;
    opacity: 0;
}

.cell-hover {
    opacity: 0.5;
}
.grid-wrap {
    white-space: nowrap;
    user-select: none;
}
